# This is how the api keys look like in the actual `.env.local` and on Vercel Environment Variables
PUBLIC_ASSISTANT_GEMINI_API_KEYS=key_1,key_2,key_3

# Created by Vercel CLI
VERCEL_OIDC_TOKEN="many_letters"
